*{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

#container img{
    position: relative;
}

#info{
    height:10%;
    width: 35%;
    position: absolute;
    top:45%;
    left: 15%;
}
#competences{
    display:flex;
    color:grey;
}
.auto{
    height: auto;
    position: absolute;
    top: 20%;
    left: 50%;
}
.presentation{
    height: auto;
    position: absolute;
    top: 13%;
    width: 80%;
}
.competences{
    height: auto;
    position: absolute;
    bottom: 10%;
}
.auto h1,.auto h4{
    color:rgba(0, 0, 0, 0.7)
}
#left, #right{
    position: relative;
}
p{
    line-height: 170%;
}
.competences p{
    margin-bottom: 2%;
}
progress[value] {
    width: 250px;
    height: 5px;
  }